@import './variables';
@import './dark-mode';
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: $light;
  color: $black;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.header {
  flex: 0 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0px 4px 0 rgba($color: #000000, $alpha: 0.1);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }
  &__title {
    font-size: 1.5rem;
    margin: 0;
  }
  &__link {
    margin-right: 0.8rem;
    color: $black;
    position: relative;
    &::after {
      content: '';
      height: 4px;
      width: 100%;
      position: absolute;
      display: block;
      bottom: -4px;
      left: 0;
      background-color: #2b3743;
      z-index: -1;
      border-radius: 999px;
      opacity: 0.4;
      transform-origin: center;
      transform: scaleX(0);
      transition: all 200ms ease-in-out;
    }
    &.router-link-active::after {
      transform: scaleX(1);
    }
  }
  &__dark-switcher {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
  }
  &__icon {
    height: 0.9rem;
    width: 0.9rem;
    display: inline;
    vertical-align: middle;
    padding: 1px 2px 2px 0px;
  }
}

.main {
  flex: 1 1 auto;
  height: 100%;
  overflow-y: auto;
  padding: 3.875rem 0;
  position: relative;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 600px) {
      margin-bottom: 3.875rem;
    }
  }

  &__control-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: $light-gray;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: 0 2px 6px 0px rgba($color: #000000, $alpha: 0.08);
    margin-bottom: 3rem;

    @media (min-width: 600px) {
      width: 250px;
      margin: 0;
    }
    &.search {
      flex: 1 1 auto;
      max-width: 100%;
      @media (min-width: 600px) {
        max-width: 480px;
        margin-right: 3rem;
      }
    }
    &.filter {
      width: 200px;
      position: relative;
      z-index: 99;
    }
    &.back {
      border: none;
      border-radius: $card-border-radius;
      font-size: inherit;
      font-family: inherit;
      width: auto;
      padding: 1rem 2rem;
      box-shadow: 0 2px 6px 0px rgba($color: #000000, $alpha: 0.09);
      cursor: pointer;
    }
  }

  &__control-prepend-icon {
    margin: 0.2rem 0.5rem 0 0.3rem;
    svg {
      max-width: 1rem;
    }
  }
  &__control-append-icon {
    background: none;
    border: none;
    cursor: pointer;
    color: $light-gray;
    margin: 0.3rem 0.5rem 0 0.3rem;
    svg {
      max-width: 1rem;
    }
  }
  &__control-input {
    background-color: #fff;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    flex: 1 0 auto;
  }
  &__grid {
    &--countries {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
      gap: 2.5rem;
    }
    &--no-results {
      font-size: 1.5rem;
      color: $black;
    }
  }
}

.filter__modal {
  position: absolute;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  background: #fff;
  top: calc(100% + 0.3rem);
  left: 0;
  box-shadow: 0 2px 6px 0px rgba($color: #000000, $alpha: 0.08);
  border-radius: $border-radius;
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &-item {
    padding: 1rem;
    transition: all 200ms ease-out;

    &:hover,
    &:active {
      background-color: $light-dark;
      color: #fff;
    }
  }
}

.country-item {
  &__card {
    background-color: #fff;
    border-radius: $card-border-radius;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 336px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    max-width: 65%;
    min-width: 262px;
    margin: 0 auto;
    position: relative;
    transition: all 250ms ease-in-out;
    @media (min-width: 600px) {
      max-width: 300px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light-dark;
      pointer-events: none;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
    &:hover {
      transform: scale(1.07);
    }
    &:hover::after {
      opacity: 0.08;
    }
  }
  &__card-content {
    padding: 1rem;
  }
  &__card-img-wrapper {
    flex: 1 0 47%;
    height: 47%;
  }

  &__flag {
    width: 100%;
    height: 100%;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
  &__card-content {
    flex: 1 0 53%;
    height: 53%;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    padding: 1rem 2rem;
  }
  &__card-title {
    font-size: 1.125rem;
  }
  &__card-stats {
    list-style: none;
    padding: 0;
    font-size: 0.875rem;
    li {
      line-height: 1.5;
      font-weight: 200;
    }
  }
}

.country-page {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    gap: 2rem;
    @media (min-width: 920px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__flag-grapper {
    max-width: 90%;
    margin: 0 auto;
    @media (min-width: 600px) {
      max-width: 85%;
    }
    @media (min-width: 920px) {
      margin: 0;
    }
    img {
      width: 100%;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    }
  }
  &__content {
    color: $black;
    width: 80%;
    margin: 0 auto;

    @media (min-width: 920px) {
      width: 100%;
    }
  }
  &__title {
    font-size: 1.5rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 300;
    gap: 2rem;
    @media (min-width: 920px) {
      flex-direction: row;
    }
  }
  &__stats {
    flex: 1 1 auto;
    &.left,
    &.right {
      flex: 1 1 auto;
      @media (min-width: 920px) {
        max-width: calc(50% - 2rem);
      }
    }
    ul {
      padding: 0;
      list-style: none;
    }
    li {
      line-height: 2;
    }
    &.bottom {
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (min-width: 920px) {
        flex-direction: row;
      }
    }
    &__borders-title {
      flex: 1 0 auto;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin-bottom: 2rem;
      @media (min-width: 920px) {
        margin-right: 2rem;
      }
    }
    &__borders-pills {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      .pill {
        display: inline-block;
        padding: 0.5rem 1.1rem;
        margin: 0 0.5rem 0.5rem;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        background-color: #fff;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        transform: scale(1);
        transition: transform 250ms ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.footer {
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
}

// Animations

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-active {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.drop-down-enter-active,
.drop-down-leave-active {
  transition: all 0.25s ease-out;
}

.drop-down-enter-from,
.drop-down-leave-to {
  opacity: 0;
  transform-origin: top;
  transform: translateY(-30px) scaleY(0.5);
}

.change-enter-active,
.change-leave-active {
  transition: all 0.7s ease;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.change-enter-from,
.change-leave-to {
  opacity: 0;
}
